.header-store__search {
    display: flex;
    align-items: center;
}
.pointer-change {
    cursor: pointer;
}
@media (max-width: 650px) {   
    .button-header-mobile {
        padding: 0;
        margin: 0;
    }
}

@media (max-width: 576px) {   
    .navbar-header-mobile {
        padding: 0;
        margin: 0;
    }
}
.menu_switch i {
    cursor: pointer;
}

.floating-name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.floating-name p {
    font-size: 14px;
    margin: 0;
    padding: 0 !important;
}