.detail-menu {
    &__header {
        margin: 20px 0;
        &--back-icon {
            cursor: pointer;
            margin-right: 20px;
        }
    }
    &__edit-title {
        margin-bottom: 20px;
        &--text {
            margin-bottom: 10px;
        }
    }
    &__menu {
        &--title {
            margin-bottom: 10px;
        }
        &--list {
            &--item {
                display: flex;
                justify-content: space-between;
                margin: 0 -20px;
                padding: 10px 20px;
                border-top: 1px solid #dfdfdf;
                &--btn {
                    display: flex;
                    border: 1px solid #c9cccf;
                    border-radius: 7px;
                    &--edit,
                    &--delete {
                        padding: 2px 10px;
                        cursor: pointer;
                        &:hover {
                            background-color: #f6f6f7;
                        }
                    }
                    &--edit {
                        border-right: 1px solid #c9cccf;
                        border-top-left-radius: 7px;
                        border-bottom-left-radius: 7px;
                    }
                    &--delete {
                        border-top-right-radius: 7px;
                        border-bottom-right-radius: 7px;
                    }
                }
            }
        }
        &--add {
            margin: 0 -20px -20px;
            padding: 10px 20px;
            border-top: 1px solid #dfdfdf;
            cursor: pointer;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            &:hover {
                background-color: #EDF4FE;
            }
            &--icon {
                margin-right: 15px;
                svg {
                    fill: #2c6ecb;
                }
            }
            &--text {
                color: #2c6ecb !important;
            }
        }
    }
    &__add-item-modal {
        &--name {
            margin-bottom: 20px;
        }
        &--btn {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        &--link {
            &--list {
                &--link-item {
                    margin: 0 -20px;
                    padding: 5px 20px;
                    cursor: pointer;
                    &:hover {
                        background-color: #F5F6F8;
                    }
                }
            }
        }
    }
}
