.nav-detail {
    min-height: 79vh;
    max-height: 79vh;
}
.all-nav-detail {
    min-height: 85vh;
    max-height: 85vh;
    overflow-y: scroll;
}
.all-nav-detail p{
    padding-left: 1rem;
}
.dropdown-store-detail .dropdown-toggle{
    background-color: #fff !important;
    border: none;
    font-size: 0.5rem;
}
.fa-store-detail {
    font-size: 1.75rem;
    margin: 0;
}
.nav-element {
    padding-left: 0.45rem;
}
.nav-element:hover {
    background-color: #dae0db;
    cursor: pointer;
}
.nav-element-selected {
    background-color: #DBF2EA;
    border-left: 5px solid #3A871E;
    
    padding-left: 0;
}
.fa-store-detail-nav {
    font-size: 1.25rem;
}
.nav-extend {
    padding-left: 3rem
}

.nav-extend:hover {
    background-color: #dae0db;
    cursor: pointer;
}
.text-extend {
    font-size: 0.9rem;
    margin-left: 1.5rem !important;
}
.btn-icon {
    background-color: transparent;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}
.icon-color-black {
    color: black;
}