.navigation {
    &__header {
        margin: 20px 0;
        &--title {
            font-size: 20px;
            font-weight: 700;
            color: #202223;
        }
    }
    &__menus {
        display: flex;
        align-items: center;
        @media screen and (max-width: 768px) {
            flex-direction: column;
            align-items: unset;
        }
        &__description {
            flex: 5;
            padding: 20px 20px 20px 0;
            &--title {
                font-size: 16px;
                font-weight: 700;
                color: #202223;
            }
            &--content {
                margin-top: 10px;
                font-size: 14px;
                color: #6d7175;
            }
        }
        &__table {
            flex: 7;
            background-color: white;
            padding: 10px 20px;
            border-radius: 8px;
            box-shadow: 0 0 5px rgba(23, 24, 24, 0.05), 0 1px 2px rgba(0, 0, 0, 0.15);
            &--header {
                display: flex;
                justify-content: space-between;
                &--menu {
                    font-size: 16px;
                    font-weight: 700;
                    color: #202223;
                }
                &--add-btn {
                    font-size: 14px;
                    color: #2c6ecb;
                    cursor: pointer;
                }
            }
            &--col {
                display: flex;
                margin: 20px 0 10px;
                font-size: 14px;
                &--title {
                    width: 40%;
                }
                &--content {
                    width: 60%;
                }
            }
            &--items {
                display: flex;
                margin: 0 -20px;
                padding: 10px 20px;
                border-top: 1px solid #dfdfdf;
                font-size: 14px;
                &--title {
                    width: 40%;
                    color: #2c6ecb;
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
    }
    &__add-menu-modal--btn {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}
