.theme-collection {
    &__body {
        height: calc(100vh - 200px);
        overflow-y: auto;
        overflow-x: hidden;
    }
    &__loader {
        margin-right: 10px;
        svg {
            width: 16px !important;
        }
        circle {
            stroke: #ffffff !important;
            stroke-width: 7 !important;
        }
    }
    .btn-success {
        display: flex;
        justify-content: center;
    }
}

.themes {
    -webkit-animation: swiperight 0.17s linear forwards;
    animation: swiperight 0.17s linear forwards;
    &__list {
        &__item {
            &__name {
                display: flex;
                justify-content: space-between;
                align-items: center;
                &__current {
                    font-size: 13px;
                    border-radius: 1.2rem;
                    background-color: #aee9d1;
                    padding: 0 5px;
                }
            }
            &__container {
                width: fit-content;
                height: fit-content;
                overflow: hidden;
            }
            &__img {
                transition: transform .2s;
                &:hover {
                    transform: scale(1.3);
                }
            }
        }
    }
}

.theme-detail {
    -webkit-animation: swipeleft 0.17s linear forwards;
    animation: swipeleft 0.17s linear forwards;
    &__img {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border: 10px solid #dfe3e8;
        }
    }
    &__content {
        &__text {
            margin: 10px 0 20px;
        }
        &__feature {
            margin-top: 20px;
            &__item {
                margin-bottom: 10px;
                .text-normal-1 {
                    margin-left: 15px;
                }
            }
        }
    }
}

@-webkit-keyframes swipeleft {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes swipeleft {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@-webkit-keyframes swiperight {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes swiperight {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
