.mamagethemes__header {
    display: flex;
    justify-content: space-between;
    color: #5C5F62;
}

.mamagethemes__header--title {
    width: fit-content;
    font-weight: 700;
}

.mamagethemes__header--btn-to-editor {
    width: fit-content;
    padding: 5px;
    cursor: pointer;
    font-weight: 700;
}
.mamagethemes__header--btn-to-editor:hover {
    background-color: #EBECED;
    border-radius: 7px;
}