.icon-plus-before-text {
    font-size: 1rem;
}
.poper-item {
    padding-left: 0.5rem;
    border-radius: 5px;
}
.poper-item .MuiOutlinedInput-input{
    padding: 6px 0 6px;
}
.poper-item::before, .poper-item::after {
    display: none;
}
.poper-item:hover {
    background-color: #6666 !important;
}
.box-poper {
    background-color: white;
}
.chip-width-auto {
    width: auto;
    margin-left: 0.25rem;
}
.btn-option {
    border: 1px solid #333;
    background-color: transparent;
    border-radius: 5px;
    margin-top:0.5rem;
}
.icon-trash {
    font-size: 2rem;
    color: #666;
    cursor: pointer;
}
.MuiChip-root.collection-chip {
    margin: 5px;
}
.MuiPopover-root .MuiMenu-list {
    overflow-y: auto;
    max-height: none;
}
.MuiModal-root .btn-close-modal {
    border: 1px solid #666666;
}
.btn-collection {
    width: 80px;
    height: 40px;
    border-radius: 30px;
}

.form-group-button {
    margin-left: 1rem;
    margin-right: 1rem;
}
/* md ~ 768*/
@media (min-width: 768px) {   
    .save-button-form-product-mobile {
        display: none;
    }

    .save-button-form-product-desktop {
        display: block;
    }
}

@media (max-width: 768px) {       
    .save-button-form-product-mobile {
        display: block;
    }

    .save-button-form-product-desktop {
        display: none;
    }
}
.style-modal-list .MuiDialog-container .MuiDialog-paperScrollPaper {
    max-width: none;
}
.style-modal-list .MuiDialogContent-root {
    overflow-y: hidden;
}

.style-modal-list .MuiDialogContent-root .custom-modal-list {
    overflow-y: auto;
    max-width: none;
    max-height: 500px;
}