.icon-plus-before-text {
    font-size: 1rem;
}
.poper-item {
    padding-left: 0.5rem;
    border-radius: 5px;
}
.poper-item .MuiOutlinedInput-input{
    padding: 4px 0 5px;
}
.poper-item::before, .poper-item::after {
    display: none;
}
.poper-item:hover {
    background-color: #6666 !important;
}
.box-poper {
    background-color: white;
}
.chip-width-auto {
    width: auto;
    margin-left: 0.25rem;
}
.btn-option {
    border: 1px solid #333;
    background-color: transparent;
    border-radius: 5px;
    margin-top:0.5rem;
}
.icon-trash {
    font-size: 2rem;
    color: #666;
    cursor: pointer;
}
.text-black .error-text {
    color: red !important;
    margin-left: 0;
}

.text-field-input fieldset legend, .poper-item fieldset legend  {
    width: unset;
}
.text-field-input input {
    padding: 4px 0 5px 5px;
}
.MuiChip-root.collection-chip {
    margin: 5px;
}
.MuiPopover-root .MuiMenu-list {
    overflow-y: auto;
    max-height: none;
}
.MuiModal-root .btn-close-modal {
    border: 1px solid #666666;
}
.btn-collection {
    width: 80px;
    height: 40px;
    border-radius: 30px;
}
/* md ~ 768*/
@media (min-width: 768px) {   
    .save-button-form-product-mobile {
        display: none;
    }

    .save-button-form-product-desktop {
        display: block;
    }
}

@media (max-width: 768px) {       
    .save-button-form-product-mobile {
        display: block;
    }

    .save-button-form-product-desktop {
        display: none;
    }
}