
.button-save-modal:hover {
    background-color: rgb(13, 110, 253) !important;
    color: white;
}
.button-save-modal {
    width: 65px;
    height: 30px;
    background-color: transparent;
    border-radius: 5px;
    border:none;
    margin-top: 0.5rem;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 28%);
}