.table {
    margin-top: 1.5rem;
    margin-left: 1.75rem;
}
.callpage {
    margin-top: 50px;
    background: #f6f6f7;
    min-height: calc(100vh - 50px);
}

.callpage p {
    font-size: .875rem;
}

.btn-form-product {
    border-radius: 30px !important;
}

.text-btn-form-product {
    font-weight: bold;
    margin: 0;
    padding: 0 0.75rem;
}
.custom .custom-search-input{
    margin-left: 1.5rem;
    width: 300px;
}
.active-product {
    color:green !important;
}
.draft-product {
    color:red !important;
}
@media (max-width: 1065px) {    
    .desktop-table {
        width: 100%;
    }
}
@media (max-width: 500px) {    
    .font-size-0-85-rem-max500 {
        font-size: 0.85rem;
        padding: 0;
    }
}