.loading-modal {
    .modal-content {
        background: none;
        border: none;
    }
    svg {
        width: 5.5rem !important;
    }
    circle {
        stroke: #ffffff !important;
        stroke-width: 4.5 !important;
    }
}