.text-black .text-error {
    color: red !important;
}
.item-text-banner span {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
}
.responsive-text {
    /* minus padding, margin and width of another element */
    width: calc(100% - 35px - 35px - 25px - 25px );
}
.selected-url {
    background-color: #e6f7ff;
}
.paper-add-banner .Mui-focused {
    background-color: #8d8888 !important;
}