.text-field-input {
    margin: 0.5rem 0 !important;
    border-radius: 5px;
}
.text-field-input .MuiInput-underline::before {
    border: none !important;
}
.media-select {
    border: 1px solid rgba(0, 0, 0, 0.42) !important;
}
.media-select-button {
    margin: 0;
    padding: 0
}
.text-black p, .text-black label, .text-black span {
    color: #333 !important;
}
.text-header {
  font-size: 16px !important;
  font-weight: bold !important;
  color: #202223;
}
.text-label {
  font-size: 15px !important;
  color: #202223;
}
.text-content {
  font-size: 14px !important;
  color: #202223;
}
.disabled-text {
    background-color: #6666;
}