
.text-field-input .MuiInput-underline::before {
    border: none !important;
}
.media-select {
    border: 1px solid rgba(0, 0, 0, 0.42) !important;
}
.media-select-button {
    margin: 0;
    padding: 0
}
.text-black p, .text-black label, .text-black span {
    color: #333 !important;
}
.disabled-text {
    background-color: #6666;
}