.error-cell input {
    background-color: rgba(255,244,244,1);
}
.line-through {
    text-decoration: line-through;
}
.button-done:hover {
    background-color: rgb(13, 110, 253);
    color: white;
}
.link-add-option:hover {
    font-weight: bold;
}