.icon-plus-before-text {
    font-size: 1rem;
}
.poper-item {
    padding-left: 0.5rem;
    border-radius: 5px;
}
.poper-item .MuiOutlinedInput-input{
    padding: 4px 0 5px;
}
.poper-item::before, .poper-item::after {
    display: none;
}
.poper-item:hover {
    background-color: #6666 !important;
}
.box-poper {
    background-color: white;
}
.chip-width-auto {
    width: auto;
    margin-left: 0.25rem;
}
.btn-option {
    border: 1px solid #333;
    background-color: transparent;
    border-radius: 5px;
    margin-top:0.5rem;
}
.icon-trash {
    font-size: 2rem;
    color: #666;
    cursor: pointer;
}
.text-black .error-text {
    color: red !important;
    margin-left: 0;
    font-size: 12px;
}

.text-field-input fieldset legend, .poper-item fieldset legend  {
    width: unset;
}
.text-field-input input {
    padding: 4px 0 5px 5px;
}
.MuiChip-root.collection-chip {
    margin: 5px;
}
.MuiPopover-root .MuiMenu-list {
    overflow-y: auto;
    max-height: 200px;
}
.btn-delete-product {
    border: 1px solid #f07067;
    background-color: transparent;
    color: #f07067;
}

.btn-delete-product:hover {
    border: 1px solid red;
    background-color: #ffffff;
    color: red;
}
.btn-product {
    width: 80px;
    height: 40px;
    border-radius: 30px;
}
.form-group-button {
    margin-left: 1rem;
    margin-right: 1rem;
}
/* react-quill */
.ql-editor{
    min-height:150px;
    max-height: 400px;
    overflow-y: auto;
    padding: 4px 0 5px 5px;
}
.custom-type {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input-with-dropdown {
    width: 100%;
}
.auto-complete-vendor .MuiAutocomplete-endAdornmen {
    top: 0;
    right: 8px;
}

.auto-complete-vendor .MuiButtonBase-root {
    padding: 0;
}
.auto-complete-vendor .MuiFormControl-root .MuiInputBase-root  {
    padding: 3px 0 3px 5px !important;
}
.auto-complete-vendor .MuiFormControl-root .MuiInputBase-root input  {
    padding: 0;
}
/* md ~ 768*/
@media (min-width: 768px) {   
    .save-button-form-product-mobile {
        display: none;
    }

    .save-button-form-product-desktop {
        display: block;
    }
}

@media (max-width: 768px) {       
    .save-button-form-product-mobile {
        display: block;
    }

    .save-button-form-product-desktop {
        display: none;
    }
}