.discount {
    // max-width: 900px;
    margin: 30px auto;
    &__header {
        display: flex;
        justify-content: space-between;
    }
    &__search {
        margin-top: 30px;
        max-width: 400px;
    }
    &__active-tag {
        background-color: #aee9d1;
        color: #202223;
        font-size: 13px;
        border-radius: 50px;
        padding: 1px 10px;
        height: fit-content;
        width: fit-content;
    }
    &__expired-tag {
        background-color: #E4E5E7;
        color: #202223;
        font-size: 13px;
        border-radius: 50px;
        padding: 1px 10px;
        height: fit-content;
        width: fit-content;
    }
    &__list {
        margin-top: 30px;
    }
}