@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  color: black;

  margin: 0;
  overflow-y: scroll;
}
* {
  font-family: "Open Sans", sans-serif;
}

.fa-icon {
  font-family: 'FontAwesome' !important;
}
::-webkit-scrollbar {
  width: 6px;
}

 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #3D4A3B; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: gray; 
}

.font-weight-bold {
  font-weight: bold !important;
}
.text-center {
  text-align: center !important;
}
.font-weight-normal {
  font-weight: normal !important;
}
.text-decoration-none {
  text-decoration: none !important;
}
.text-black {
  color: #6666 !important;
}
.text-extra-small {
  font-size: 0.5rem !important;
}
.text-small {
  font-size: 0.8rem !important;
}

.text-normal {
  font-size: .85rem !important;
}

.text-medium {
  font-size: .875rem !important;
}
.text-large {
  font-size: 1.5rem !important;
}
.text-extra-large {
  font-size: 2rem !important;
}

.basic-btn {
  width: fit-content !important;
  height: fit-content !important;
  border-radius: 5px !important;
  font-size: .8rem;
}

.w-100 {
  width: 100% !important;
}
.ml-0 {
  margin-left: 0 !important;
}
.ml-0-8rem {
  margin-left: .8rem !important;
}
.ml-0-25rem {
  margin-left: 0.25rem !important;
}
.ml-1rem {
  margin-left: 1rem !important;
}
.mr-1rem {
  margin-right:1rem !important;
}

.mr-0-3rem {
  margin-right: 0.3rem !important;
}
.pr-2rem {
  padding-right: 2rem !important;
}
.p-0-75rem {
  padding: 0.75rem !important;
}
.pl-0-5rem {
  padding-left: 0.5rem !important;
}
.divider-custom {
  height: 2px;
  background-color: #3D4A3B;
  margin-bottom: 1rem !important;
  margin-top: 1rem !important;
}

.text-title-1 {
  font-size: 20px;
  font-weight: 700;
  color: #202223;
}

.text-title-2 {
  font-size: 16px;
  font-weight: 700;
  color: #202223;
}

.text-title-3 {
  font-size: 14px;
  font-weight: 700;
  color: #202223;
}

.text-normal-1 {
  font-size: 14px;
  color: #202223;
}

.text-normal-2 {
  font-size: 14px;
  color: #6d7175;
}