@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');
body {
  color: black;

  margin: 0;
  overflow-y: scroll;
}
* {
  font-family: 'Roboto Slab', serif;
}

.fa-icon {
  font-family: 'FontAwesome' !important;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #3D4A3B; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: gray; 
}

.font-weight-bold {
  font-weight: bold !important;
}
.text-center {
  text-align: center !important;
}
.font-weight-normal {
  font-weight: normal !important;
}
.text-decoration-none {
  text-decoration: none !important;
}
.text-black {
  color: #6666 !important;
}
.text-extra-small {
  font-size: 0.5rem !important;
}
.text-small {
  font-size: 0.8rem !important;
}

.text-normal {
  font-size: .85rem !important;
}

.text-medium {
  font-size: .875rem !important;
}
.text-large {
  font-size: 1.5rem !important;
}
.text-extra-large {
  font-size: 2rem !important;
}

.basic-btn {
  width: fit-content !important;
  height: fit-content !important;
  border-radius: 5px !important;
  font-size: .8rem;
}

.w-100 {
  width: 100% !important;
}
.ml-0 {
  margin-left: 0 !important;
}
.ml-0-8rem {
  margin-left: .8rem !important;
}
.ml-0-25rem {
  margin-left: 0.25rem !important;
}
.ml-1rem {
  margin-left: 1rem !important;
}
.ml-1-5rem {
  margin-left: 1.5rem !important;
}
.mr-1rem {
  margin-right:1rem !important;
}

.mr-0-3rem {
  margin-right: 0.3rem !important;
}
.pr-2rem {
  padding-right: 2rem !important;
}
.p-0-75rem {
  padding: 0.75rem !important;
}
.pl-0-5rem {
  padding-left: 0.5rem !important;
}
.divider-custom {
  height: 2px;
  background-color: #3D4A3B;
  margin-bottom: 1rem !important;
  margin-top: 1rem !important;
}

.text-link {
  font-size: 14px;
  color: #2c6ecb;
  text-decoration: underline;
  cursor: pointer;
}

.text-title-1 {
  font-size: 20px;
  font-weight: 700;
  color: #202223;
}

.text-title-2 {
  font-size: 16px;
  font-weight: 700;
  color: #202223;
}

.text-title-3 {
  font-size: 14px;
  font-weight: 700;
  color: #202223;
}

.text-normal-1 {
  font-size: 14px;
  color: #202223;
}

.text-normal-2 {
  font-size: 14px;
  color: #6d7175;
}

.text-header{
  font-size: 16px !important;
  font-weight: bold !important;
  color: #202223;
}
.text-label{
  font-size: 15px !important;
  color: #202223;
}
.text-label-span span{
  font-size: 16px !important;
  font-weight: 550;
  color: #202223;
}
.text-hyper-link span:hover {
  text-decoration: underline;
  cursor: pointer;
}
.text-content-span span{
  font-size: 14px !important;
  color: #202223;
}
.text-content input{
  font-size: 14px !important;
  color: #202223;
}
.text-black .error-text {
    color: red !important;
    margin-left: 0;
    font-size: 12px;
}
.text-field-input {
  height: 28px;
  margin: 0.5rem 0 !important;
  border-radius: 5px;
}
.text-field-input fieldset legend, .poper-item fieldset legend  {
    width: unset;
}
.text-field-input input {
    padding: 4px 0 5px 5px;
}
.image-container-item-list {
  text-align: center;
  margin-bottom: 2rem;
  position: relative;
  width: 100%;
  border: 1px solid #dee2e6;
  border-radius: 10px;
  width: 64px;
  height: 64px;

}
.image-container-item-list img {
  z-index: 0;
  width: 64px;
  height: 64px;
  padding: 10px;
  object-fit: cover;
}
.custom-devider {
  margin-left: 45px !important;
}
/* md ~ 768*/
@media (max-width: 768px) {   
  .pt-md {
    padding-top: 2rem !important
  }
}

@media (max-width: 1200px) {   
  .pt-lg {
    padding-left: 1.25rem !important
  }
}
.MuiPaper-elevation5  {
  box-shadow: 0 0 5px rgb(23 24 24 / 5%), 0 1px 2px rgb(0 0 0 / 15%) !important;
  /* it too much use paper elevation - 5 => rewrite css for shadow of paper  */
}