.restock-order div {
    margin: 5px auto;
    background-color: #d6d149;
    color: #fff;
    font-size: 13px;
    border-radius: 50px;
    padding: 1px 10px;
    height: fit-content;
    width: 175px;
    font-weight: bold;
}
.normal-order div{
    margin: 5px auto;
    background-color: rgb(32,183,246);
    color: #fff;
    font-size: 13px;
    border-radius: 50px;
    padding: 1px 10px;
    height: fit-content;
    width: 175px;
    font-weight: bold;
}
.complete-order div {
    margin: 5px auto;
    background-color: #42e034;
    color: #fff;
    font-size: 13px;
    border-radius: 50px;
    padding: 1px 10px;
    height: fit-content;
    width: 175px;
    font-weight: bold;
}
.deleted-order div {
    margin: 5px auto;
    background-color: #f7454d;
    color: #fff;
    font-size: 13px;
    border-radius: 50px;
    padding: 1px 10px;
    height: fit-content;
    width: 175px;
    font-weight: bold;
}